#wrapper {border-radius: 100%;}
body {
  background-color:#139494
     }
h1 {
    color: rgb(154, 214, 235)
   }
h3 {
   
   color: lightblue
   }

hr {
      background-color: white;
      border-style: dotted none none;
      border-color: grey;
      border-width: 5px;
      width: 5%;
     }